server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/promtail/positions.yaml

clients:
  - url: http://10.10.10.1:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:

  - targets:
      - localhost
    labels:
      job: {{ ansible_hostname }} - syslog
      __path__: /var/log/syslog

  - targets:
      - localhost
    labels:
      job: {{ ansible_hostname }} - auth.log
      __path__: /var/log/auth.log
